[submodule "NF-ConvertThermo"]
	path = NF-ConvertThermo
	url = https://github.com/digitalproteomes/NF-ConvertThermo.git
	branch = publishdir
[submodule "NF-FragPipe"]
	path = NF-FragPipe
	url = https://github.com/digitalproteomes/NF-FragPipe.git
	branch = publishdir
