// 1. Include configurations from submodules
// NOTE: for non-unique parameters the latest definition counts
includeConfig 'NF-ConvertThermo/nextflow.config'
includeConfig 'NF-FragPipe/nextflow.config'

import groovy.json.JsonSlurper 

// Read the JSON configuration file	
def configJson = new JsonSlurper().parseText(new File('config.json').text)


params {
    // Conversion related params
    conv_params = '--centroid'
    conv_params_msconvert = '--singleThreaded=1'
    mzml = false
    monitor = true

    // Search related paramsa
    workflow_fp = './' + configJson.FRAGPIPE.WORKFLOW
    database_fp = configJson.CELESTIAL_ROOT + 'Celestial/Databases/' + configJson.FRAGPIPE.DATABASE
    diann = '/usr/local/diann/diann/diann-linux'
    python = '/lsiopy/bin/python3'
}


process {
    executor = 'slurm'
    container = configJson.CELESTIAL_ROOT + 'Celestial/Singularity/Images/' + configJson.CONTAINERS.RAW2MZML
    maxForks = 10
    cpus = 1
    memory = '20 GB'
    
    withName: '.*:fragpipeSearch' {
        maxForks = 1
	memory = { 96.GB * task.attempt }

        // Error Handling
        // Retry if exit code is 137 (OOM) or 143 (Slurm Kill)
        errorStrategy = { task.exitStatus in [137, 140, 143] ? 'retry' : 'finish' }
        maxRetries = 2

        // Hack to overcome FragPipe wanting to write inside singularity image
        beforeScript = 'mkdir -p host_fragpipe_jobs'
        containerOptions = { "--bind ${task.workDir}/host_fragpipe_jobs:/usr/local/fragpipe/jobs" }
	container = configJson.CELESTIAL_ROOT + 'Celestial/Singularity/Images/' + configJson.CONTAINERS.FRAGPIPE

	publishDir = [
	    path: {
		// Option A: Use Nextflow's file() / Path methods directly
		def mzmlFile = task.workDir.resolve().listFiles().find { it.name.endsWith('.mzML') }
		def baseName = mzmlFile ? mzmlFile.baseName : 'unknown_sample'
		"${params.outdir_search}/${baseName}"
	    },
	    mode: 'copy'
	]
	
    }
}

docker {
	enabled = false
}

singularity {
	enabled = true
	// Get around wineprefix ownership
    runOptions = '--userns --bind ${HOME}:${HOME}'
}


dag {
    enabled = false
}

report {
    enabled = false
}
