// 1. Include configurations from submodules
// NOTE: for non-unique parameters the latest definition counts
includeConfig 'NF-ConvertThermo/nextflow.config'
includeConfig 'NF-FragPipe/nextflow.config'

params {
    monitor = true
}

process {
    withName: '.*:fragpipeSearch' {
        maxForks = 1
        publishDir = [
            path: { "${params.outdir_search}/${new File(task.tag).name.replaceAll('_manifest\\.fp-manifest$', '')}" },
            mode: 'copy'
        ]
    }
}

dag {
    enabled = false
}

report {
    enabled = false
}
