// Include configurations from submodules
// NOTE: for non-unique parameters the latest definition counts
includeConfig 'NF-ConvertThermo/nextflow.config'
includeConfig 'NF-FragPipe/nextflow.config'

params {
    // Conversion related parameters
    monitor = true  // Run the pipeline in batch mode

    // Search related parameters repeated from included
    // NF-FragPipe/nextflow.config for transparency
    workflow_fp = ''    // ** Set to desired FragPipe workflow **
    database_fp = ''    // ** Set to desired Database **

    // Notebook related params
    template_ipynb = 'Notebooks/qc_template.ipynb'
    metrics_db = 'qc_metrics.db'

    // Archival related params
    archive_raw = false // Set to true to move RAW files after QC
    archive_folder = '' // ** Set to folder where RAW files will be
            // moved to after QC **
}


process {
    withName: '.*:?convertThermoAndLink|.*:?convertThermo|.*:?convetMzxmlAndLinkP|.*:?convertMzxmlP|.*:?generateManifest|.*:?waitForStableRaw' {
    // We don't need to keep the converted files for this pipeline:
    publishDir = [ enabled: false ]
    }

    withName: '.*:fragpipeSearch' {
    // We don't need to keep the search files for this pipeline:
    publishDir = [ enabled: false ]
    }

    withName: '.*:?papermill|.*:?ipynbToHtml' {
    maxForks = 1
    cpus = 1
    memory = '20GB'

    // We publish each jupyter notebook in a sub-folder named after the MS file
    // For user convenience we publish them in the FragPipe search results folder
    publishDir = [
            path: { "${params.outdir_search}/${task.tag}" },
            mode: 'copy'
    ]
    }

    errorStrategy = {
        // Immediate console/logfile warning
        log.error "[QC FAILED] Task: ${task.name} | Tag: ${task.tag} | WorkDir: ${task.workDir}"

        // Append to a persistent error tracking log
        file("Results/qc_failures.log").append("[${new Date()}] Sample failed at ${task.name}: ${task.tag}\n")

        'ignore' // Continue running the daemon without stopping
    }
}

dag {
    enabled = false
}

report {
    enabled = false
}

manifest {
    gitmodules=true
    recurseSubmodules=true
}
